.smartPortal{
    padding-top: 10rem;
    height: 100vh;
    background-color: burlywood;
}


/* for login */

.smartPortalcontainer {
    display: flex;
    min-height: 100vh;
    width: 100%;
    padding-top: 3rem;
}

/*  */