# # dependencies
# /node_modules

# production
.env
.env.*

# # logs
# npm-debug.log*
# yarn-debug.log*
# yarn-error.log*

# # environment variables
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

# # system files
# .DS_Store
# Thumbs.db

# # vscode
# .vscode/

# # coverage
# /coverage